[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "==8.3.4"
pika = "==1.3.2"
port-for = "==0.7.4"
mirakuru = "==2.5.3"

[dev-packages]
towncrier = "==24.8.0"
pytest-cov = "==6.0.0"
pytest-xdist = "==3.6.1"
black = "==24.10.0"
ruff = "==0.8.6"
mypy = "==1.14.1"
tbump = "==6.11.0"
