# test runs requirements (versions we'll be testing against) - automatically updated by requires.io
pytest==6.2.1
pytest-xdist==2.2.0
pytest-cov==2.10.1
coverage==5.3 # pytest-cov
rabbitpy==2.0.1
port-for==0.4
mirakuru==2.3.0
-e .[tests]
