# test runs requirements (versions we'll be testing against) - automatically updated by requires.io
pytest==5.4.1
pytest-xdist==1.32.0
pytest-cov==2.8.1
coverage==5.1 # pytest-cov
rabbitpy==2.0.1
port-for==0.4
mirakuru==2.2.0
-e .[tests]
